body {
  font-family: 'Open Sans', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  background-color: ghostwhite;
}

h1, h2, h3, h4, h5 {
  font-family: inherit !important;
}

.website-button, .youtube-button {
  border-radius: 12px !important;
  position: absolute;
  bottom: 20px;
  height: 55px;
  width: 55px;

  @media (max-width: 700px) {
    bottom: 22px;
  }

  @media (max-width: 612px) {
    bottom: 24px;
  }

  i {
    display: block;
  }
}

.website-button {
  right: 17px;
  padding: 10px !important;

  @media (max-width: 700px) {
    right: 15px;
  }
  
  i {
    font-size: 25px;
    width: 80%;
    margin: 0 10% !important;
  }
}

.youtube-button {
  right: 82px;
  padding: 7px !important;

  i {
    font-size: 37px;
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Encode+Sans:100,300,400,500,700,900);