#fresh-aire {
  background-color: #f9ffeb;
  font-family: 'Raleway', Arial, sans-serif;

  img {
    position: relative;
    top: 10px;
    margin: 10px 10%;
    width: 80%;
  }

  .button {
    background-color: #4CAF50 !important;
    color: white;

    &:hover {
      background-color: #46a04a !important;
    }
  }

  .info {
    position: absolute;
    left: calc(50% - 71.6px);
    transition: top 0.5s;
    top: 70%;

    h4 {
      color: #4CAF50;
    }
  }

  .description {
    visibility: hidden;
    transition: visibility 0.4s;
    opacity: 0;
    top: -200px;
    position: relative;
  }

  .work-wrapper {
    padding-top: 50px;
  }

  @media (max-width: 727px) {
    .info {
      top: 60%;
    }
  }

  @media (max-width: 400px) {
    .info {
      top: 65%;
    }
  }

  @media (min-width: 992px) {
    .info {
      top: 60%;
    }
  }

  @media (min-width: 1220px) {
    .info {
      top: 65%;
    }
  }

  @media (min-width: 1660px) {
    .info {
      top: 70%;
    }
  }
}

#fresh-aire.clicked {
  .description {
    display: inline-block;
    visibility: visible;
    animation: fadein 0.25s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 100px;
    left: 0;
    margin-left: 10%;
    width: 80%;
  } 
  
  img {
    animation: fadeout 0.1s forwards ease-in-out;
  }

  .info {
    top: 40px;
  }
}

#fresh-aire.unclicked {
  img {
    animation: fadein 0.5s forwards ease-in-out;
  }
}