#col-6 .col-wrapper {
  background-image: url("https://res.cloudinary.com/fresh-aire-mechanical-co/image/upload/v1504773170/haru_we9m40.png");
  background-position: center;
  background-size: cover;

  #haru {
    .button {
      background-color: #ad851a !important;
      
      &:hover {
        background-color: #846615 !important;
      }
    }
  }
}