#col-6 .col-wrapper {
  background-image: url("https://res.cloudinary.com/fresh-aire-mechanical-co/image/upload/v1504773170/haru_we9m40.png");
  background-position: center;
  background-size: cover;

  #haru {
    .description {
      @media (min-width: 1435px), (min-width: 726px) and (max-width: 991px) {
        top: 18px;
        position: relative;
      }

      @media (min-width: 381px) and (max-width: 546px) {
        top: 15px;
      }
    }

    .button {
      background-color: #cc9d1e !important;
      
      &:hover {
        background-color: #846615 !important;
      }
    }
  }
}