.container {
  margin: 0 4%;
  padding: 4% 0; 
  width: 92%;
  background-color: white;
}

body, .app, #landing {
  min-height: 100vh;
}

.row {
  margin: 0;
}

.grid {
  margin: 0 !important;

  .col-btns {
    display: none;
  }

  .column {
    height: 300px;
    overflow: hidden;

    h4 {
      font-weight: 900;
      text-align: center;
    }

    .subtitle {
      text-align: center;
    }

    .description {
      visibility: hidden;
      transition: visibility 0.4s;
      opacity: 0;
      top: -200px;
      position: relative;
      left: 25px;
    }

    .info {
      position: relative;
      right: 0;
      top: calc(50% - 26px);

      span {
        display: inline-block;
      }
    }

    @media (min-width: 481px) {
      .description {
        float: right;
        top: -21px;
        right: -16px;
        position: relative;
        width: 50%;
      }

      .info {
        transition: right 0.5s ease-in-out;
      }
    }

    @media (max-width: 427px) {
      img {
        width: 100px;
        margin: 75px 20px;
      }

      .info {
        h4, p {
          font-size: 12px !important;
        }
      }

      .description {
        top: -154px;
        left: 10px;
        font-size: 12px !important;
      }
    }

    &:hover {
      cursor: pointer;
    }

    .work-wrapper {
      width: 80%;
      margin: 0 10%;
      height: 100%;
    }
  }
}

@media (min-width: 990px) and (max-width: 1114px), (max-width: 615px) {
  .grid {
    .column {
      .work-wrapper {
        width: 90% !important;
        margin: 0 5% !important;
      }
    }
  }
}

@media (max-width: 916px) {
  .grid {
    .column {
      .work-wrapper {
        width: 70%;
        margin: 0 15%;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 543px) {
  .grid {
    .column {
      .work-wrapper {
        width: 90%;
        margin: 0 5%;
      }
    }

    .column.clicked {
      img {
        left: -50%;
        animation: fadeout 0.5s forwards ease-in-out;
      }

      .info {
        right: 50%;
      }
    }
  }
}

@media (max-width: 480px) {
  .grid {
    .column.clicked {
      .info {
        animation: topleft 0.5s forwards ease-in-out !important;
      }
    }

    .column.unclicked {
      .info {
        animation: topleftreverse 0.5s forwards ease-in-out !important;
      }
    }
  }
}

@media (max-width: 367px) {
  .grid {
    .column {
      .work-wrapper {
        width: 96%;
        margin: 0 2%;
      }
    }
  }
}

#cloud-partners.clicked {
  .description {
    display: inline-block;
    visibility: visible;
    max-width: 80%;
    animation: fadein 0.25s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  } 
  
  img {
    left: -50%;
    animation: fadeout 0.5s forwards ease-in-out;
  }

  @media (min-width: 481px) {
    .info {
      right: 50%;
    }
  }
}

.button {
  background-color: #4CAF50 !important;
  border: none;
  color: white !important;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold !important;
}

.button-purple {
  background-color: white !important; 
  color: #8757d6 !important; 
  border: 2px solid #8757d6 !important;

  &:active, &:focus {
    background-color: white !important; 
    color: #8757d6 !important;
    border: 2px solid #8757d6 !important;
  }

  &:hover {
    background-color: #8757d6 !important;
    color: white !important;
    border: 2px solid #8757d6 !important;
  }
}

.button-blue {
  background-color: white !important; 
  color: #008CBA !important; 
  border: 2px solid #008CBA !important;

  &:active, &:focus {
    background-color: white !important; 
    color: #008CBA !important;
    border: 2px solid #008CBA !important;
  }

  &:hover {
    background-color: #008CBA !important;
    color: white !important;
    border: 2px solid #008CBA !important;
  }
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animate($name, $duration, $iteration, $direction, $delay, $fillMode) {
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
     -moz-animation-iteration-count: $iteration;
       -o-animation-iteration-count: $iteration;
          animation-iteration-count: $iteration;
  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;
  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
       -o-animation-direction: $direction;
          animation-direction: $direction;
  -webkit-animation-delay: $delay;
     -moz-animation-delay: $delay;
       -o-animation-delay: $delay;
          animation-delay: $delay;
  -webkit-animation-fill-mode: $fillMode;
     -moz-animation-fill-mode: $fillMode;
       -o-animation-fill-mode: $fillMode;
          animation-fill-mode: $fillMode;
}

@include keyframes(fadein) {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@include keyframes(fadeout) {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@include keyframes(topleft) {
  from { top: calc(50% - 26px); right: 0 }
  to { top: calc(50% - 130px); right: 50% }
}

@include keyframes(topleftreverse) {
  from { top: calc(50% - 130px); right: 50% }
  to { top: calc(50% - 26px); right: 0 }
}
