.container {
  margin: 0 4%;
  padding: 4% 0; 
  width: 92%;
  background-color: white;
}

body, .app, #landing {
  min-height: 100vh;
}

.row {
  margin: 0;
}

.grid {
  margin: 0 !important;

  .col-btns {
    display: none;
  }

  #col-1, #col-2 {
    .work {
      margin: 4px;
    }
  }

  #col-3, #col-4, #col-5, #col-6 {
    .col-wrapper {
      margin: 4px;
    }
  }

  .column.grid-col, #col-1, #col-2,
  #col-3, #col-4, #col-5, #col-6 {
    height: 300px;
    overflow: hidden;
    padding: 0 !important;

    .col-wrapper {
      height: 100%;
    }

    .work {
      height: 100%;

      .floating.label {
        top: 1em;
        right: 1em;
        left: unset;
      }
    }

    h2, h4 {
      font-weight: 900;
      text-align: center;
    }

    h2 {
      font-family: 'Encode Sans', 'Open Sans', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
      color: white;
    }

    .subtitle {
      text-align: center;
    }

    &:hover {
      cursor: pointer;
    }
  }

  #col-3, #col-4, #col-5, #col-6 {
    .info {
      top: 110px;
      position: relative;
      transition: top 0.5s ease-in-out;
    }

    .subtitle {
      color: white;
      font-weight: 900;
      width: 60%;
      margin-left: 20%;
    }

    .clicked {
      .info {
        top: 30px;
      }

      .subtitle {
        animation: fadeout 0.5s forwards ease-in-out;
      }
    }

    .unclicked {
      .subtitle {
        animation: fadein 0.5s forwards ease-in-out;
      }
    }
  }

}

.button {
  border: none;
  border-radius: 24px !important;
  color: white !important;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold !important;
}

.button-purple {
  background-color: white !important; 
  color: #8757d6 !important; 
  border: 2px solid #8757d6 !important;

  &:active, &:focus {
    background-color: white !important; 
    color: #8757d6 !important;
    border: 2px solid #8757d6 !important;
  }

  &:hover {
    background-color: #8757d6 !important;
    color: white !important;
    border: 2px solid #8757d6 !important;
  }
}

.button-blue {
  background-color: white !important; 
  color: #008CBA !important; 
  border: 2px solid #008CBA !important;

  &:active, &:focus {
    background-color: white !important; 
    color: #008CBA !important;
    border: 2px solid #008CBA !important;
  }

  &:hover {
    background-color: #008CBA !important;
    color: white !important;
    border: 2px solid #008CBA !important;
  }
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animate($name, $duration, $iteration, $direction, $delay, $fillMode) {
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
     -moz-animation-iteration-count: $iteration;
       -o-animation-iteration-count: $iteration;
          animation-iteration-count: $iteration;
  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;
  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
       -o-animation-direction: $direction;
          animation-direction: $direction;
  -webkit-animation-delay: $delay;
     -moz-animation-delay: $delay;
       -o-animation-delay: $delay;
          animation-delay: $delay;
  -webkit-animation-fill-mode: $fillMode;
     -moz-animation-fill-mode: $fillMode;
       -o-animation-fill-mode: $fillMode;
          animation-fill-mode: $fillMode;
}

@include keyframes(fadein) {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@include keyframes(fadeout) {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.makeDim {
  animation: dimBackground 0.5s;
  animation-fill-mode: forwards;
}

.makeBright {
  animation: brightenBackground 0.5s;
  animation-fill-mode: forwards;
}

@include keyframes(dimBackground) {
  0% { background-color: rgba(0,0,0,0); }
  100% { background-color: rgba(0,0,0,0.5); }
}

@include keyframes(brightenBackground) {
  0% { background-color: rgba(0,0,0,0.5); }
  100% { background-color: rgba(0,0,0,0); }
}