#col-5 > div {
  background-image: url("https://res.cloudinary.com/fresh-aire-mechanical-co/image/upload/v1504773171/smb3_snv8pr.png");
  background-position: center;
  background-size: cover;

  #super-mario {
    .description {
      position: relative;
   
      @media (max-width: 991px), (min-width: 1354px) {
        top: 23px;
      }

      @media (max-width: 685px) {
        top: 10px;
      }

      @media (max-width: 596px) {
        font-size: 12px;
      }

      @media (max-width: 448px) {
        top: -10px;
      }

      @media (max-width: 354px) {
        top: -33px;
      }
    }

    .button {
      background-color: #db2828 !important;
      
      &:hover {
        background-color: #ad1f1f !important;
      }
    }
  }
}