#col-5 > div {
  background-image: url("https://res.cloudinary.com/fresh-aire-mechanical-co/image/upload/v1504773171/smb3_snv8pr.png");
  background-position: center;
  background-size: cover;

  #super-mario {
    .button {
      background-color: #db2828 !important;
      
      &:hover {
        background-color: #ad1f1f !important;
      }
    }
  }
}