#col-4 > div {
  background-image: url("https://res.cloudinary.com/fresh-aire-mechanical-co/image/upload/v1504773172/workwork_w53xax.png");
  background-position: center;
  background-size: cover;

  #workwork {
    img {
      visibility: hidden;
      height: 12vw;
      position: absolute;
      bottom: 18px;
      left: 2px;
      max-height: 71px;
      min-height: 50px;

      @media (min-width: 620px) {
        left: 7px;
        bottom: 15px;
      }
    }

    .description {
      top: -15px;
      position: relative;

      @media (min-width: 1368px) {
        top: 5px;
      }

      @media (min-width: 693px) and (max-width: 991px) {
        top: 0;
      }

      @media (max-width: 455px) {
        top: -45px;
      }
    }

    .button {
      background-color: #f65e13 !important;
      
      &:hover {
        background-color: #d64e0a !important;
      }
    }
  }

  #workwork.clicked {
    img {
      visibility: visible;
      animation: fadein 0.5s forwards ease-in-out;
    }
  }

  #workwork.unclicked {
    img {
      animation: fadeout 0.5s forwards ease-in-out;
    }
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
